.notification-container{
        background-color: rgba(45, 45, 45, 0.28);
    position: absolute;
    left: 12%;
    width: 84%;
    min-height: 90vh;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 3vh;
    padding: 2% 8%;
    color: #FFFFFF;
}