*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(256.63deg, #000, #332125);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.test{
  height: 200vh;
}